@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gentium+Book+Plus&family=Libre+Baskerville:wght@700&family=Rubik:wght@500&family=Titillium+Web:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gentium Book Plus', serif;

}
  .geral{
        max-width: 1100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header{
    background-color:#00272d;
    width: 100%;
    font-family: 'Gentium Book Plus', serif;
    }

    .logo,.sociais{
        width: 35%;
    }
    .logo img{
        width:200px;
        margin-left: 15px;
        cursor: pointer;
    }
    .menu{
        width: 60%;
    }
    .menu nav a{
        color: white;
        text-decoration: none;
        padding-right: 50px;
  font-size: 20px;
  position: relative;
    }
    .menu:hover{
display: none;
color:blue;
    }
    .sociais button{
width: 35px;
height: 35px;
border-radius: 8px;
cursor: auto;
color: rgb(66, 65, 102);
margin-right: 10px;
cursor: pointer;
    }

   main h1{
font-family: 'Gentium Book Plus', serif;
text-align: center;
text-decoration: double;
margin-top: 30px;
border-radius: 20px;
width: 100%;
background-color: #00272d;
color: white;
}
main h1:hover{
    background-color:#011642;
    transition: 0.2s;
}
article{
    font-family: 'Gentium Book Plus', serif;
    text-align: left;
    text-decoration: double;
    margin-top: 60px;
    padding:10px;
    margin-bottom: 20px;
    margin-left: 15px;
    min-width:400px ;
    max: width 800px;
}
article h2{
    width: auto;
    box-shadow: 4px 3px 4px solid black;
    color: white;
    background-size: 10px;
    background-color: #00272d;
    margin-bottom: 40px;
}
article p,br{ 
    height: 650px;
    width: 650px;
    text-indent: 30px;
    text-align: left;
    float: left;

}
.contain{
    display: flex;
    margin-left: 40px ;
    align-items:right;
    width: 300px;
    height: 300px;
}
.dois h2{
    margin-top: auto;
    width: auto;
    box-shadow: 4px 3px 4px solid black;
    color: white;
    background-size: 10px;
    background-color: #00272d;
    margin-bottom: 40px;
}
.dois,article p,br{
    height: 650px;
    width: 650px;
    text-indent: 30px;
    text-align: left;
    float: left;
}



    
    

